.orden {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    justify-content: space-around;
}

.imagen {
    width: 15%;
    display: flex;
    justify-content: center;
}

.nombre {
    font-size: 20px;
    color: darkslategrey;
    width: 40%; 
    text-align:left;
}

.precio {
    font-size: 20px;
    color: goldenrod;
    width: 40%; 
    text-align:left;
}